* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Quicksand";
  src: url("../src/assets/Quicksand-VariableFont_wght.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Metrophobic";
  src: url("../src/assets/Metrophobic/Metrophobic-Regular.ttf");
}

:root {
  --background-color: #12131b;
  --primary-color: #e4c32f;
  --secondary-color: #1d1d29;
  --alvvays-yellow: #ffb800;
  --alvvays-blue: #1d232c;
  --beach-house-grey: #b0bbbf;
  --mgmt: #00ab87;
  --primary-font: "Quicksand";
  --text-font: "Metrophobic";
}

body {
  background-color: var(--background-color);
  color: white;
  overflow-x: hidden;
}

.bidouille {
  color: var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: var(--primary-font);
}

h1,
button,
a,
#pencil,
#save {
  cursor: pointer;
}

p {
  font-family: var(--text-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-size: 20px;
}
