* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #12131b;
  --primary-color: #e4c32f;
  --secondary-color: #1d1d29;
  --alvvays-yellow: #ffb800;
  --alvvays-blue: #1d232c;
  --beach-house-grey: #b0bbbf;
  --mgmt: #00ab87;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  color: white;
}

.bidouille {
  color: var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
