.error {
  color: red;
}

.chosenForm {
  text-decoration: underline;
  text-underline-offset: 10px;
}

#chooseForm > button {
  border-style: none;
  background-color: var(--background-color);
  color: white;
}
