#footerDiv {
  background-color: var(--primary-color);
  color: black;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

@media (min-width: 768px) {
  #footerDiv {
    position: absolute;
    width: 100%;
  }
}
